#main {
  /* height: 30vh; */
  width: 25%;
  margin-bottom: -3px;
}

#alice {
  height: 80%;
  position: absolute;
  top: 400px; left: 40%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  width: 100%;
  max-width: 450px; /*height: 783px / 2*/
  z-index: 1;
}

/* #alice:before {
    content: " ";
    display: block;
    padding-top: 87%;
}

#alice img {
  position: absolute;
  top: 0; left: 0;
  width: 100%;  
} */

#earth{
  z-index: -10;
  width: 99vw;
  height: 70vh;
  overflow: hidden;
}
#images {
  position: absolute;
  top: 0;
  left: 100px;
  z-index: 2;
}

#tree {
  height: 600px
}

#knight {
  position: absolute;
  top: -600px;
  left: 0px;
  z-index: 10;
  }

 #rook {
  position: absolute;
  top: -300px;
  left: 100px;
}

#bush {
  position: absolute;
  top: 300px;
  left: 0px;
}
#palm_small {
  position: absolute;
  top: 30px;
  left: 650px;
}

#pawn {
  position: absolute;
  top: 300px;
  left: 650px;
}

#rook_small{
  position: absolute;
  top: 300px;
  left: 850px;
}

#pawn_small {
  position: absolute;
  top: 500px;
  left: 0;
}

#buttons {
  position: absolute;
  top: 0px;
  left: 0px;
}